{% extends 'pages/base.html' %}

{% load static %}

{% block title %}
    Sobre
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Sobre a <strong>Reforço Online Voluntariado</strong></h3>
        <div class="container col col-lg-10">
        <h5 class="text-center mt-4">Quem somos</h5>
        <p>Somos um grupo formado a partir da disciplina do projeto integrador da <strong>Universidade Virtual do Estado de São Paulo - UNIVESP.</strong> Formados por 5 integrantes ingressantes do Eixo Computacional, o qual se ramificou em três formações: Bacharel em Tecnologia da Informação, Ciência de Dados e Engenharia da Computação</p>
        <h5 class="text-center mt-4">Nossa visão</h5>
        <p>Através de muita pesquisa acreditamos que a <strong>defasagem escolar</strong> é um grave problema para a sociedade e pode ser combatida com aulas particulares online, oferecidas por voluntários capacitados, para os estudantes com esse problema. Escolhemos essa forma, pois a aula particular é mais assertiva e direcionada. O ambiente online permite maior oferta de voluntários e reduz obtáculos como a distância e falta de tempo. Decidimos engajar voluntários, pois é uma forma da própria comunidade se ajudar, sem custos, favorecendo os estudantes mais carentes.</p>
        <h5 class="text-center mt-4">Nossa missão</h5>
        <p>Reduzir a <strong>defasagem escolar</strong>, e assim seus efeitos colaterais, fazendo o <i>match</i> entre interessados de ambos os lados, alunos do ensino médio e voluntários.</p>
        </div>
    </div>
{% endblock %}