{% extends 'pages/base.html' %}

{% load static %}

{% block content %}

<h3>Bem Vindo {{ user }} - Ofertas de Reforço Registradas</h3>{% if user.perfilvoluntario.cpf is None %}
<p>Voce ainda não preencheu seus dados cadastrais. Voltar para a página de cadastro</p>
<a href="{% url 'atualizar-voluntario' %}" class="btn btn-warning btn-sm">Finalizar Perfil</a>
{% else %}
<a href="{% url 'cadastrar-voluntario' %}" class="btn btn-primary btn-sm">Adicionar Oferta</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Habilidade</th>
            <th>Área</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Opções</th>
        </tr>

        {% for voluntario in object_list %}
        <tr>
            <td>{{ voluntario.nome }}</td>
            <td>{{ voluntario.habilidade }}</td>
            <td>{{ voluntario.area }}</td>
            <td>{{ voluntario.descricao }}</td>
            <td>{{ voluntario.data }}</td>
            <td>
                <a href="{% url 'editar-voluntario' voluntario.pk %}" class="btn btn-warning btn-sm" title="Editar">E</a>
                <a href="{% url 'excluir-voluntario' voluntario.pk %}" class="btn btn-danger btn-sm" title="Excluir">X</a>
                
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum voluntário registrado</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
    {% endblock %}
